div.inv {
  margin: auto;
  width: 50%;
}

div.header {
  margin: auto;
  width: 100%;
  max-width: 500px;
  background: lightblue;
  height: 100px;
}

p.title {
  padding-top: 10px;
  padding-left: 50px;
  font-size: larger;
  font-weight: bold;
}

div.listSelect {
  display: flex;
  justify-content: space-evenly;
  background-color: ghostwhite;
}

div.listSelect button.active {
  width: 200px;
  height: 50px;
  text-align: left;
  border: 0;
  margin: 10px;
  flex-direction: column;
  padding: 10px;
  background-color: lightgreen;
}

div.listSelect button {
  width: 200px;
  height: 50px;
  text-align: left;
  border: 0;
  margin: 10px;
  flex-direction: column;
  padding: 10px;
  background-color: lightgray;
}
div.itemInputSection {
  display: flex;
  justify-content: center;
}

div.itemInputSection input.newItemInput {
  font-size: larger;
  width: 40%;
}

div.itemInputSection input.addItemButton {
  background-color: blue;
  margin-left: 20px;
  margin-right: 20px;
  color: white;
  font-size: larger;
}

div.itemInputField input.addItemButton:hover {
  background-color: lightblue;
  color: black;
}

ul.itemlist {
  background-color: ghostwhite;
  padding: 10px 0;
}

ul.itemlist li {
  display: flex;
  margin: auto;
  width: 80%;
  height: 30px;
  list-style: none;
  border: 1px;
  border-style: solid;
  background-color: lightgrey;
  align-content: center;
  justify-content: space-between;
}

ul.itemlist li.hidden {
  display: none;
}

ul.itemlist li input {
  height: 25px;
  width: 25px;
  background-color: white;
}

ul.itemlist li input:hover {
  background-color: lightgrey;
}

ul.itemlist li.active {
  margin: auto;
  width: 80%;
  height: 30px;
  list-style: none;
  border: 1px;
  border-style: solid;
  background-color: lightgreen;
}

nav.paginationContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

div button.paginationNumber,
nav.paginationContainer button.paginationButton {
  font-size: 20px;
  background-color: transparent;
  border: none;
  margin: 0.25rem 0.25rem;
  cursor: pointer;
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 0.2rem;
}

div button.paginationNumber:hover,
nav.paginationContainer button.paginationButton:not(.disabled):hover {
  background: lightblue;
}

div button.paginationNumber.active {
  color: white;
  background: blue;
}
