div.inv {
  margin: auto;
  width: 50%;
}

div.header {
  margin: auto;
  width: 400px;
  background: lightblue;
  height: 100px;
}

p.title {
  padding-top: 10px;
  padding-left: 50px;
  font-size: larger;
  font-weight: bold;
}

div.listSelect {
  display: flex;
  justify-content: space-evenly;
  background-color: ghostwhite;
}

div.listSelect button.active {
  width: 200px;
  height: 50px;
  text-align: left;
  border: 0;
  margin: 10px;
  flex-direction: column;
  padding: 10px;
  background-color: lightgreen;
}

div.listSelect button {
  width: 200px;
  height: 50px;
  text-align: left;
  border: 0;
  margin: 10px;
  flex-direction: column;
  padding: 10px;
  background-color: lightgray;
}

ul.itemlist {
  background-color: ghostwhite;
  padding: 10px 0;
}

ul.itemlist li {
  display: flex;
  margin: auto;
  width: 80%;
  height: 30px;
  list-style: none;
  border: 1px;
  border-style: solid;
  background-color: lightgray;
  align-content: center;
  justify-content: space-between;
}

ul.itemlist li input {
  height: 25px;
  width: 25px;
  background-color: white;
}
ul.itemlist li.active {
  margin: auto;
  width: 80%;
  height: 30px;
  list-style: none;
  border: 1px;
  border-style: solid;
  background-color: lightgreen;
}
